<!DOCTYPE html>
<html lang="en">
<head> 
  <meta charset="utf-8">
  <meta http-equiv="x-UA-Compatible" content="IE=edge,chrome=1">
  <title>ForgotPassword Form</title>
</head>
<body>
  <section class="container">
    <div class="login">
      <h1>Change Password form</h1>
      <form method="post" action="/changePasswordAndLogin">
        <p>
          <input type="email" name="email" value="" placeholder="email">
        </p>
        <p>
          <input type="password" name="newPassword" value="" placeholder="newPassword" required="">
        </p>
        <p>
          <input type="password" name="confirmPassword" value="" placeholder="confirmPassword" required="">
        </p>
        <p class="submit">
          <input type="submit" name="" value="changePassword">
        </p>
      </form>
    </div>
  </section>
</body>
</html>